
@media (min-device-width: 1000px)
{

body
{
  background-color: #121212;
  margin:0;
	padding:0;
    height:100%;
}
a
{
color:inherit;
text-decoration:inherit;
}
#container
{

min-height:100%;
position:relative;
}
#pasek_gura
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
	min-height: 100px;
	background-color: #262626;
	z-index: 10;

}
#logo
{   
    padding: 5px;
    float: left;
}
#Kontakt
{
    text-decoration: none; 
    min-height: 40px;
    padding: 10px;
    margin-right: 1px;
    float: right ;
    color: #ececec;
}
#Kontakt:hover
{
    background-color: #393939;
}
#Wspierajoncy
{
    text-decoration: none; 
    min-height: 40px;
    padding: 10px;
    margin-right: 1px;
    float: right ;
    color: #ececec;
}
#Wspierajoncy:hover
{
    background-color: #393939;
}
#Poradniki
{
    text-decoration: none; 
    min-height: 40px;
    padding: 10px;
    margin-right: 1px;
    float: right ;
    color: #ececec;
}
#Poradniki:hover
{
    background-color: #393939;
}
#home
{
    text-decoration: none; 
    min-height: 40px;
    padding: 10px;
    margin-right: 1px;
    float: right ;
    color: #ececec;
}
#home:hover
{
    background-color: #393939;
}
#Regulamin
{
    text-decoration: none; 
    min-height: 40px;
    padding: 10px;
    margin-right: 1px;
    float: right ;
    color: #ececec;
}
#Regulamin:hover
{
    background-color: #393939;
}
#informacje
{
    padding: 300px;
    color: #ececec;
    min-height: 300px;
    background-color: #737373;
    clear: both;
    position:relative;
    Top:-10px;
}
#Naguwek
{
    font-size: 30px;
    position:relative;
    Top:-190px;
}
#innfo
{
    position:relative;
    Top:-100px;
}
#dolanczanie
{
    font-size: 40px;
    padding: 10px;
    background-color:#262626;
    color: #ececec;
    min-width:400px;
}
#dolanczanie:hover
{
    background-color: #393939;
}
#adminstracja
{
    padding: 40px;
    color: #ececec;
    min-height: 1000px;
    background-color: #868686;
}
#aNagluwe
{
    font-size: 35px;
}
#Robot
{
    padding: 40px;
    color: #ececec;
    min-height: 250px;
    position:relative;
    left: -20px;
}
#kaczor
{
    text-align: left;
    padding: 40px;
    color: #ececec;
    min-height: 250px;
    position:relative;
    left: -20px;
}
#brajan
{
    text-align: right;
    padding: 40px;
    color: #ececec;
    min-height: 250px;
    position:relative;
    left: -20px;
}
#grenek
{
    text-align: right;
    padding: 40px;
    color: #ececec;
    min-height: 250px;
    position:relative;
    left: -20px;
}
#stopka
{
    color: #ececec;
    background-color: black;
	padding: 0px;
    min-height: 70px;
    clear: both;
    width: 100%;
    position: absolute;
    bottom:0;
}






#pszerwa
{
        font-size: 40px;
    padding: 10px;
    color: #ececec;
    margin-left: 100px;
	margin-right: 100px;
	min-height: 600px;
}


#kontakt
{
    padding: 10px;
    color: #ececec;
    margin-left: 100px;
	margin-right: 100px;
	min-height: 600px;
}


#block1
{
    text-decoration: none;
    font-size: 50px;
    margin: 0 auto;
    width: 400px;
	height: 150px;
    color: #ececec;
    background-color: #262626;
}
#block1:hover
{
    background-color: #393939;
}
#block2
{
    font-size: 50px;
    margin: 0 auto;
    width: 400px;
    height: 150px;
    color: #ececec;
    background-color: #262626;
}
#block2:hover
{
    background-color: #393939;
}
#block3
{
    font-size: 50px;
    margin: 0 auto;
    width: 400px;
    height: 150px;
    color: #ececec;
    background-color: #262626;
}
#block3:hover
{
    background-color: #393939;
}
#empty
{
    min-width: 400px;
}



#Na
{
font-size: 100px;;
    color: #ececec;
}

#statute
{
	line-height: 1.6;
	font-size: 15px;
    padding: 100px;
    color: #ececec;
    min-height: 400px;
    background-color: #737373;
    clear: both;
    position:relative;
    Top:-20px;
}

}





@media (max-device-width: 1000px)
{
    

body
{
  background-color: #121212;
  margin:0;
	padding:0;
    height:100%;
}
a
{
color:inherit;
text-decoration:inherit;
}
#container
{

min-height:100%;
position:relative;
}
#pasek_gura
{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
	min-height: 100px;
	background-color: #262626;
	z-index: 10;

}
#logo
{   
    padding: 5px;
    float: left;
}
#Kontakt
{
    text-decoration: none; 
    min-height: 40px;
    padding: 10px;
    margin-right: 1px;
    float: right ;
    color: #ececec;
}
#Kontakt:hover
{
    background-color: #393939;
}
#Wspierajoncy
{
    text-decoration: none; 
    min-height: 40px;
    padding: 10px;
    margin-right: 1px;
    float: right ;
    color: #ececec;
}
#Wspierajoncy:hover
{
    background-color: #393939;
}
#Poradniki
{
    text-decoration: none; 
    min-height: 40px;
    padding: 10px;
    margin-right: 1px;
    float: right ;
    color: #ececec;
}
#Poradniki:hover
{
    background-color: #393939;
}
#home
{
    text-decoration: none; 
    min-height: 40px;
    padding: 10px;
    margin-right: 1px;
    float: right ;
    color: #ececec;
}
#home:hover
{
    background-color: #393939;
}
#informacje
{
    padding: 100px;
    color: #ececec;
    min-height: 400px;
    background-color: #737373;
    clear: both;
    position:relative;
    Top:-10px;
}
#Naguwek
{
    font-size: 30px;
    padding: 100px;
    position:relative;
    Top:-190px;
}
#innfo
{
    position:relative;
    Top:-100px;
}
#dolanczanie
{
    font-size: 40px;
    padding: 10px;
    background-color:#262626;
    color: #ececec;
    min-width:400px;
}
#dolanczanie:hover
{
    background-color: #393939;
}
#adminstracja
{
    padding: 40px;
    color: #ececec;
    min-height: 1000px;
    background-color: #868686;
}
#aNagluwe
{
    font-size: 35px;
}
#Robot
{
    padding: 40px;
    color: #ececec;
    min-height: 250px;
    position:relative;
    left: -20px;
}
#kaczor
{
    text-align: left;
    padding: 40px;
    color: #ececec;
    min-height: 250px;
    position:relative;
    left: -20px;
}
#brajan
{
    text-align: right;
    padding: 40px;
    color: #ececec;
    min-height: 250px;
    position:relative;
    left: -20px;
}
#grenek
{
    text-align: right;
    padding: 40px;
    color: #ececec;
    min-height: 250px;
    position:relative;
    left: -20px;
}
#stopka
{
    color: #ececec;
    background-color: black;
	padding: 0px;
    min-height: 70px;
    clear: both;
    width: 100%;
    position: absolute;
    bottom:0;
}






#pszerwa
{
        font-size: 40px;
    padding: 10px;
    color: #ececec;
    margin-left: 100px;
	margin-right: 100px;
	min-height: 600px;
}


#kontakt
{
    padding: 10px;
    color: #ececec;
    margin-left: 100px;
	margin-right: 100px;
	min-height: 600px;
}

#block1
{
    text-decoration: none;
    font-size: 50px;
    margin: 0 auto;
    width: 400px;
	height: 150px;
    color: #ececec;
    background-color: #262626;
}
#block1:hover
{
    background-color: #393939;
}
#block2
{
    font-size: 50px;
    margin: 0 auto;
    width: 400px;
    height: 150px;
    color: #ececec;
    background-color: #262626;
}
#block2:hover
{
    background-color: #393939;
}
#block3
{
    font-size: 50px;
    margin: 0 auto;
    width: 400px;
    height: 150px;
    color: #ececec;
    background-color: #262626;
}
#block3:hover
{
    background-color: #393939;
}
#empty
{
    min-width: 400px;
}



#Na
{
font-size: 100px;;
    color: #ececec;
}

#statute
{
	  line-height: 1.6;
	font-size: 15px;
    padding: 100px;
    color: #ececec;
    min-height: 400px;
    background-color: #737373;
    clear: both;
    position:relative;
    Top:-20px;
}

.imgslot
{
    object-fit: contain;
    width:100%;
    height:100%;
}
    
}

#slait
{
  min-height: 100px;
  min-width: 100px;
  flex-grow: 20;
  display: flex;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
}


#contener
{
    width: 100%;
    height: calc(100% - 101px);
    display: flex;
    justify-content: end;
    justify-self: center;
}